@page "/"
@using Listas_App.Services
@using Listas_App.Models

<PageTitle>LES</PageTitle>

<h1>Lista Enlazada Simple</h1>

<div class="row">
    <div class="col-md-5">
        <label>Ingrese Nodo</label>
        <input type="text" name="Valor" @bind-value="Valor" />
    </div>

    <div class="col-md-5 text-end">
        <button class="btn btn-success mb-1" @onclick="AgregarInicio">Agregar nodo al inicio</button>
        <button class="btn btn-success mb-1" @onclick="AgregarFinal">Agregar nodo al final</button>
        <button class="btn btn-danger mb-1" @onclick="EliminarInicio">Eliminar nodo al inicio</button>
        <button class="btn btn-danger mb-1" @onclick="EliminarFinal">Eliminar nodo al final</button>
        <button class="btn btn-outline-danger mb-1" @onclick="LimpiarLista">Limpiar Lista</button>
    </div>
</div>
<ul>
    @{
        Nodo nodoTemporal = Lista.PrimerNodo;
        while (nodoTemporal != null)
        {
            <li>@nodoTemporal.Informacion</li>
            nodoTemporal = nodoTemporal.Referencia;
        }
    }
</ul>

@code {
    public string Valor { get; set; }
    public Listas1 Lista { get; set; }

    protected override void OnInitialized()
    {
        Lista = new Listas1();
        base.OnInitialized();
    }

    public void LimpiarLista()
    {
        Lista.LimpiarLista();
    }

    public void AgregarFinal()
    {
        Lista.AgregarAlFinal(CrearNodo());
        Valor = string.Empty;
    }

    public void AgregarInicio()
    {
        Lista.AgregarAlInicio(CrearNodo());
        Valor = string.Empty;
    }

    public void EliminarInicio()
    {
        Lista.EliminarNodoAlInicio();
        Valor = string.Empty;
    }

    public void EliminarFinal()
    {
        Lista.EliminarNodoAlFinal();
        Valor = string.Empty;        
    }

    Nodo CrearNodo()
    {
        Nodo nuevoNodo = new Nodo(Valor);
        return nuevoNodo;

    }
}
